# Author: linxsh
# Kconfig: Top Level Kconfig
#---------------------------------------------------------------------------------#
#
mainmenu "Configuration"

menu "Operating system support"

source os/Kconfig

endmenu
