# Author: linxsh
# Kconfig: Top Level Kconfig
#---------------------------------------------------------------------------------#
#
mainmenu "Configuration"

#---------------------------------------------------------------------------------#
#
menu "Develop Board Config"

config BOARD
	prompt "Board (STM32F100 STM32F107)"
	string
	default "STM32F100" 

endmenu

#---------------------------------------------------------------------------------#
#
menu "Operating System Support"

source os/Kconfig

endmenu

#---------------------------------------------------------------------------------#
#
